/* Custom styles*/

/* Selector */

/* Class */
.profile_img {
    width: 150px;
    height: auto;
}

/* Id */
#sitemap_frame {
    border: none;
}

/* Responsive */

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse
    {
        display: inline-flex!important;
    }
}

/***** Custom button style ********/
.btn-small:hover,
.btn-small:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #aaaaaa;
  border: .05rem solid #fff;
}

/***** Rationale flex box *********/
.keyword {
    background-color: #fae3d9;
}

.flex_box {
    margin-top: 30px;
    margin-bottom: 30px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex_box .reason_box {
    width: 300px;
    border: 0.5px solid #bbded6;
    background-color: rgba(255, 255, 255, 0.225);
    margin: 5px;
    padding:20px;
    border-radius: 10px;
}

