/*author: yvette beausoleil*/

//variables - colour palette
$main-colour: hsl(36, 100%, 74%);
$light-shades: #ffedbf;
$light-accent: #eba080;
$dark-accent: #ff7251;
$dark-shades: #9b2948;

//mixins
@mixin gradient-background{
    background: linear-gradient(160deg, $light-accent 15%, $main-colour 95%);
}

//fonts
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");

/* CSS Document */
/*desktop view*/
@media screen and (min-width:990px){
    html {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    *, *:before, *:after {
        -webkit-box-sizing: inherit;
                box-sizing: inherit;
    }

    body{
        font-family:'Bitter', 'serif';
        background-color:#F6F6F5;
    }

    header{
        @include gradient-background();
        padding: 20px;
    }

    footer{
        @include gradient-background();
    }

    h1{
        font-size:3vw;
        font-family:'Bitter', 'serif';
    }

    h3{
        font-size:2vw;
        font-family:'Bitter', 'serif';
        padding-top:10px;
    }

    nav{
        background-color:$main-colour;
    }

    main{
        background-color:$light-shades;
        width:80%;
    }

    a{
        color:$dark-accent;
    }

    a:hover{
        color:$dark-shades;
    }

    .footer-list li{
        list-style-type: none;
    }

    .card{
        width:300px;
        height:300px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color:$dark-shades;
    }

    .btn{
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin:15px;
    }

    .btn-primary{
        background-color:$light-accent;
        border-color:$light-accent;
    }

    .btn-primary:hover{
        background-color:$dark-shades;
        border-color:$dark-shades;
    }

    .btn-outline-success{
        color:$dark-shades;
        border-color:$dark-shades;
    }

    .btn-outline-success:hover{
        color:$dark-accent;
        border-color:$dark-accent;
        background-color:$main-colour;
    }

    .header-site{
        color:$dark-shades;
    }

    .header-site:hover{
        color:$dark-shades;
    }

    .navbar-light{
        background-color:$main-colour !important;
    }

    .nav-item a{
        color:$dark-shades;
    }

    .nav-link:hover {
        background-color: $light-accent;
    }

    .nav-pills .show>.nav-link{
        background-color:$dark-shades;
        color:$light-shades;
    }

    .dropdown-menu{
        background-color:$light-shades;
    }

    .dropdown-item:hover{
        background-color: $light-accent;
        color:$dark-shades
    }

    #footer-heading{
        text-align: center;
        color:$dark-shades;
    }
}