/*author: yvette beausoleil*/
/* CSS Document */
@media screen and (max-width: 1000px) {
  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  header {
    background: linear-gradient(160deg, #ff7251 15%, #eba080 45%);
    padding: 20px;
  }
}
