/*author: yvette beausoleil*/
@import url("https://fonts.googleapis.com/css?family=Bitter:400,700");
/* CSS Document */
@media screen and (max-width: 990px) {
  html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }
  body {
    font-family: 'Bitter', 'serif';
    background-color: #F6F6F5;
  }
  header {
    background: linear-gradient(160deg, #eba080 15%, #ffca7b 95%);
    padding: 20px;
  }
  img[src*="logo"] {
    display: none;
  }
  img[src$=".png"] {
    width: 300px;
  }
  li {
    margin-left: -15px;
  }
  footer {
    display: none;
  }
  h1 {
    font-size: 20pt;
    font-family: 'Bitter', 'serif';
  }
  h3 {
    font-size: 14pt;
    font-family: 'Bitter', 'serif';
    padding-top: 10px;
  }
  h2 {
    font-size: 3vw;
    padding: 5px;
    background-color: #ffca7b;
  }
  h2 > button {
    float: right;
    background-color: transparent;
    border-color: transparent;
  }
  h4 {
    display: none;
  }
  form > input {
    margin: 5px;
  }
  nav {
    background-color: #ffca7b;
  }
  nav > div > ul > li {
    margin-left: 0 !important;
  }
  main {
    background-color: #ffedbf;
    width: 100%;
  }
  a {
    color: #ff7251;
  }
  section {
    padding: 5px;
  }
  figure {
    border-color: #9b2948;
    padding: 5px;
  }
  figcaption {
    color: #9b2948;
    font-size: 10pt;
  }
  a:hover {
    color: #9b2948;
  }
  .card {
    color: #9b2948;
  }
  .btn {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 15px;
  }
  .printpdf {
    display: none;
  }
  .btn-primary {
    background-color: #eba080;
    border-color: #eba080;
  }
  .btn-primary:hover {
    background-color: #9b2948;
    border-color: #9b2948;
  }
  .btn-outline-success {
    color: #9b2948;
    border-color: #9b2948;
  }
  .btn-outline-success:hover {
    color: #ff7251;
    border-color: #ff7251;
    background-color: #ffca7b;
  }
  .header-site {
    color: #9b2948;
  }
  .nav-item a {
    color: #9b2948;
  }
  .nav-link:hover {
    background-color: #eba080;
  }
  .nav-pills .show > .nav-link {
    background-color: #9b2948;
    color: #ffedbf;
  }
  .bg-light {
    background-color: #ffca7b !important;
  }
  .dropdown-menu {
    background-color: #ffedbf;
  }
  .dropdown-item:hover {
    background-color: #eba080;
    color: #9b2948;
  }
}